<section id="contact" appReveal class="contact container">
  <h2 class="contact__title">
    Preparado(a) para <span class="contact__title-accent">elevar</span> o<br> nível da sua empresa?
  </h2>
  <p class="contact__text">
    Se o seu objetivo é expandir seu produto ou impulsionar a
    presença digital da sua marca, estou pronta para transformar
    essas metas em soluções digitais modernas, eficientes e com
    resultados reais para o seu negócio.
  </p>
  <div class="contact__actions">
    <a class="contact__btn contact__btn--primary" href="https://wa.me/5571987341705">
      CONTATE-ME
      <span class="material-symbols-outlined contact__btn-icon">north_east</span>
    </a>
    <a class="contact__btn contact__btn--secondary" href="#skills">
      TRABALHOS RECENTES
    </a>
  </div>
</section>
